* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 10px auto;
    h3 {
      font-size: 30px;
      color: green;
      margin: 0 5vh;
      width: 70%;
      align-self: center;
    }
    table {
      align-self: center;
      font-size: larger;
      margin: 10px;
      border-radius: 10px;
      width: 70%;
      background-color: green;
      font-weight: 500;
      color: white;
      border-collapse: collapse;
      
  
      td {
        padding: 12px;
      }
  
      td:first-child {
        font-weight: 600;
      }
  
      .btn-select {
        cursor: pointer;
        width: 120px;
        height: 60px;
        border: 0px;
        border-radius: 40px;
        font-size: medium;
        font-weight: 600;
        background-color: white;
        color: green;
      }
      .btn-select:focus{
        background-color: aquamarine;
      }
    }
    .btns {
      display: flex;
      flex-direction: row;
      .btn {
        cursor: pointer;
        margin: 40px auto;
        width: 150px;
        height: 40px;
        border: 0px;
        border-radius: 20px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
      }
      .btn-return {
        @extend .btn;
        background-color: green;
      }
      .btn-submit {
        @extend .btn;
       float:right;
       position: relative;
       left: 350px;
        background-color: green;
      }
    }
  }
  
 
  .areas {
    display: flex;
    flex-direction: row;
    @extend .btn;
        background-color: white;
   // text-align: center;
   // align-self: center;
   padding : 15px;
   border: solid;

      cursor: pointer;
      margin: 14px ;
      margin-left: 200px;
      width: 340px;
      height: 120px;
      border: 0px;
      border-radius: 20px;
      font-size: 24px;
      //text-transform: uppercase;
      font-weight: 600;
      color: green
      
  }
  .right{
    float:left;
  }
  .img1{
    width: 60px;
    height:60px;
    border-radius: 50%;
    position: relative;
    top: 40px;
    right:50px;
  }
  