* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

  .main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1200px;
    margin: 10px auto;
    h3 {
      font-size: 50px;
      color: green;
      margin: 0 5vh;
      width: 70%;
      align-self: center;
    }
    table {
      align-self: center;
      font-size: larger;
      margin: 10px;
      border-radius: 20px;
      width: 800px;
      height: 600px;
      background-color: green;
      font-weight: 600;
      color: white;
      border-collapse: collapse;
  
      td {
        padding: 12px;
      }
  
      td:first-child {
        font-weight: 600;
      }
  
      .btn-select {
        cursor: pointer;
        width: 90px;
        height: 50px;
        border: 0px;
        border-radius: 25px;
        font-size: medium;
        font-weight: 600;
        background-color: white;
        color: green;
        position: relative;
       right: 150px;
      }
    }
    .btns {
      display: flex;
      flex-direction: row;
      .btn {
        cursor: pointer;
        margin: 40px auto;
        width: 150px;
        height: 60px;
        border: 0px;
        border-radius: 30px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 600;
        color: white;
        border-color: green;
       
      }
      
      .btn-return {
        @extend .btn;
        background-color: green;
      }
      .btn-submit {
        @extend .btn;
        background-color: green;
        color:white;
        
      }
    }
    .btn-select:focus {
      
      background: yellowgreen;

      

     

  }
  }
  
  
  .areas {
    display: flex;
    flex-direction: row;
    @extend .btn;
        background-color: white;
    text-align: center;
    align-self: center;


      cursor: pointer;
      margin: 40px;
      width: 400px;
      height: 90px;
      border: 0px;
      border-radius: 20px;
      font-size: 24px;
      //text-transform: uppercase;
      align-content: center;
      font-weight: 600;
      color: green
  }